{% extends 'base/base.html' %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>INDEX BASE</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'stock:index' %}">Home</a></li>
            <li class="breadcrumb-item active">Bank</li>
            <li class="breadcrumb-item"><a href="{% url 'stock:new_bank' %}">Crate NEW</a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Bank</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fas fa-times"></i></button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 1%">
                        #
                    </th>
                    <th style="width: 20%">
                        Bank Name
                    </th>
                    <th style="width: 20%">
                        JPY_deposit
                    </th>
                    <th>
                        USD_deposit
                    </th>
                    <th style="width: 20%" class="text-center">
                        DATETIME
                    </th>
                    <th style="width: 19%">
                    </th>
                </tr>
            </thead>
            <tbody>
              {% for bank in banks %}
                <tr>
                    <td>
                        #
                    </td>
                    <td>
                        <a>{{ bank.name }}</a>
                    </td>
                    <td>
                      <a>{{ bank.jpy_deposit }}円</a>
                    </td>
                    <td>
                      <a>${{ bank.usd_deposit }}</a>
                    </td>
                    <td>
                      <a>{{ bank.updated_datetime }}</a>
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm" href="{% url 'stock:detail' bank.id %}">
                            <i class="fas fa-folder">
                            </i>
                            View
                        </a>
                        <a class="btn btn-info btn-sm" href="{% url 'stock:edit_bank' bank.id %}">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Edit
                        </a>
                        <a class="btn btn-danger btn-sm" href="{% url 'stock:delete_bank' bank.pk %}">
                            <i class="fas fa-trash">
                            </i>
                            Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}
