uwsgi==2.0.18
PyMySQL==1.0.2
asgiref==3.2.7
chardet==3.0.4
Django==3.0.6
djangorestframework==3.11.0
pytz==2020.1
sqlparse==0.3.1
gunicorn==20.1.0
aiodns==3.0.0
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
ccxt==1.62.90
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
cryptography==36.0.0
frozenlist==1.2.0
idna==3.3
lxml==4.6.4
multidict==5.2.0
pycares==4.1.2
pycparser==2.21
requests==2.26.0
soupsieve==2.3.1
typing_extensions==4.0.1
urllib3==1.26.7
whitenoise==5.3.0
yarl==1.7.2
