{% extends "base/base.html" %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper bg-dark">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div><!-- /.col -->
          <div class="col-sm-6">
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row justify-content-center">
          <form action="" method="POST">
              {{ form.non_field_errors }}
              <table class="table">
                  <tbody>
                      {% for field in form %}
                          <tr>
                              <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                              <td>{{ field }} {{ field.errors }}</td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% csrf_token %}
              <button type="submit" class="btn btn-success btn-lg" >送信</button>
          </form>
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
<!-- /.content-wrapper -->
{% endblock %}
